@import url(https://fonts.googleapis.com/css?family=Pontano+Sans:300,400,600,700);

blockquote p {
    margin-bottom: 1.5em;
    color: dimgray !important;
}
blockquote p:last-child {
    margin-bottom: 0;
}

blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 1.5em 0.5em 1.5em;
    margin: 2em 0;
    position: relative;
}
blockquote:before {
    content: '\201C';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 3rem;
    height: 3.5rem;
    font: 6em 'Pontano Sans';
    color: #666;
    text-align: center;
}
