{%- if site.comments.provider == 'giscus' and site.giscus.repo -%}
  <div class="giscus">
    <details>
      <summary>댓글 보기/달기</summary>
      <script
        src="https://giscus.app/client.js"
        data-repo="{{ site.giscus.repo }}"
        data-repo-id="{{ site.giscus.repo_id }}"
        data-category="{{ site.giscus.category }}"
        data-category-id="{{ site.giscus.category_id }}"
        data-mapping="{{ site.giscus.mapping | default: 'pathname' }}"
        data-strict="{{ site.giscus.strict | default: '0' }}"
        data-reactions-enabled="{{ site.giscus.reactions_enabled | default: '1' }}"
        data-emit-metadata="0"
        data-input-position="{{ site.giscus.input_position | default: 'bottom' }}"
        data-theme="{{ site.theme_mode }}"
        data-lang="{{ site.lang | default: 'en' }}"
        crossorigin="anonymous"
        async
      ></script>
    </details>
  </div>
{%- endif -%}
